- model_class = @semester.class
.page-header
  %h1= t '.title', :default => model_class.model_name.human
%dl.dl-horizontal
  %dt
    %strong
      = model_class.human_attribute_name(:name)
      \:
  %dd= @semester.name
  %dt
    %strong
      = model_class.human_attribute_name(:level_id)
      \:
  %dd= @semester.level_id
  %dt
    %strong
      = model_class.human_attribute_name(:description)
      \:
  %dd= @semester.description
.form-actions
  = link_to t('.back', :default => t("helpers.links.back")),      |
    semesters_path(:level => @semester.level_id), :class => 'btn' |
  -#
  = link_to t('.edit', :default => t("helpers.links.edit")), |
    edit_semester_path(@semester), :class => 'btn'           |
  -#
  = link_to t('.destroy', :default => t("helpers.links.destroy")),                                  |
    semester_path(@semester),                                                                       |
    :method => 'delete',                                                                            |
    :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), |
    :class => 'btn btn-danger'                                                                      |
