%div
  %h2
    = link_to question_in_tabs.video.title , video_url(question_in_tabs.video.id)
%div
.question{:id => "q-#{question_in_tabs.id}"}
  .q-area
    .pull-left
      = image_tag 'question_icon.jpg', :class => 'icon'
    .q-data
      .q-info
        = link_to question_in_tabs.user.name,profiles_url(question_in_tabs.user.id)
      .q-body{'data-toggle' => "collapse", 'data-target' => "#ans-#{question_in_tabs.id}"}
        = question_in_tabs.body
    .vote-actions
      =render :partial =>'videos/voting_actions', :locals => { :target => 'q' , :object => question_in_tabs }
  .video_answers.collapse{:id => "ans-#{question_in_tabs.id}"}
    .video_answers-div
      = render :partial => 'videos/answer', :collection => question_in_tabs.video_answers
%hr  
