%h3
  = @user.name
%hr
%div.row
  .avatar.span3
    = image_tag 'http://www.gravatar.com/avatar/1b5b64fdadd0d82da3cd3b9dafe7b6bb?s=128&d=identicon&r=PG'
    %div
      = t('reputions') + " : " + "0"
  .divider-vertical    
  .profile-info.span3
    %div
      %h3
        =t('user_info')
    %div
      %div
        %div
          = t('user_name')+" : "+@user.name
        %div
          = t('age') +" : "+ @user.age.to_s
        %div 
          = t("member_since")  +" : " + time_ago_in_words(@user.created_at)
  .about-me.span5
    About me
%hr
.tabbable.profile-video-list
  / Only required for left/right tabs
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#tab1"} Section 1
    %li
      %a{"data-toggle" => "tab", :href => "#tab2"} Section 2
  .tab-content
    #tab1.tab-pane.active
      #videos
        = render :partial => 'videos/video_thumb', :collection => @user.videos   
    #tab2.tab-pane
      %p Howdy, I'm in Section 2.
