= form_for question_form, :url => surevey_question_url, :onClick => "return checkEnter(event);" do |f|
  = f.label t('.text')
  = f.text_area :text, :rows => 5, :cols => 50
  = f.label t('.type')
  = select 'question', 'type', Survey::QUESTION_TYPES
  = f.label t('.options')
  #options
    .option
      %input 
      %a{:onClick => 'removefield(this);'}
        ×
  %a{:onClick => 'addfeild()'}
    = t('.add_option')
