= form_for(@video) do |f|
  - if @video.errors.any?
    #error_explanation
      %h2
        = pluralize(@video.errors.count, "error")
        prohibited this video from being saved:
      %ul
        - @video.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .field
    = f.label :description
    %br/
    = f.text_field :description
  .field
    = f.label :subject_id
    %br/
    = select("video", "subject_id", Subject.all.collect {|p| [ [p.semester.level.name,p.semester.name,p.name].join(" < "), p.id ] }, {:include_blank => 'None'})
    %br/  
  .actions
    = f.submit
