%div
  %div
    = image_tag 'question_icon.jpg', :width => 50, :height => 50
    %div.question-body{'data-toggle' => "collapse", 'data-target' => "#ans-#{question.id}"}
      = question.body
    .vote-actions
      %a.btn.icon-thumbs-up
      %a.btn.icon-thumbs-down
  .answers.collapse{:id => "ans-#{question.id}"}
    .answers-div
      = render :partial => 'videos/answer', :collection => question.answers
    .asnwer-form-div
      = image_tag 'answer_icon.png', :width => 50, :height => 50
      = form_for @answer, :url => add_answer_url(:id => question.id), :remote => true do |f|
        = f.text_area :body, {:rows => 3, :class => "answer-body", "placeholder" => t('.question-placeholder')}
        = f.submit t('.post'), :class => 'btn btn-large post-btn'
  %hr