.thumbnail
  = image_tag video_thumb.icon.url(:medium)
  .caption
    %h5
      = video_thumb.title
    %p
      = truncate(video_thumb.description, :length => 70)
    %p
      %b.icon-eye-open
      = video_thumb.views
    %p
      %b.icon-user
      = video_thumb.user.first_name + " " + video_thumb.user.last_name
