- clickClassUp = (user_signed_in? && current_user.vote_for(object) == 1) ? 'vote-clicked' : ''
- clickClassDown = (user_signed_in? && current_user.vote_for(object) == -1 ) ? 'vote-clicked' : ''
= link_to "", vote_url(:id => object.id, :type => 'up', :target => target), :remote => true, :class => "vote-up #{clickClassUp}" , :id => "#{target + object.id.to_s}-votes-up"
.label.total-votes-label.label-info{:id => "#{target + object.id.to_s}-votes"} 
  = object.reputation_value_for(:votes)
= link_to "", vote_url(:id => object.id, :type => 'down', :target => target), :remote => true, :class => "vote-down #{clickClassDown}", :id => "#{target + object.id.to_s}-votes-down"
