%h1 Listing videos
= link_to 'All' , videos_path()
>
= link_to 'Confirmed' , videos_path('confirmed' => "1" )
>
= link_to 'UnConfirmed' , videos_path('confirmed' => "0" )
%table
  %tr
    %th Title
    %th Url
    %th Views
    %th User
    %th Subject
    %th
    %th
    %th
    %th
  - @videos.each do |video|
    %tr
      %td= video.title
      %td= video.url
      %td= video.views
      %td= video.user_id
      %td= video.subject_id
      %td= link_to 'Show', video
      %td= link_to 'Edit', edit_video_path(video)
      %td= link_to 'Destroy', video, confirm: 'Are you sure?', method: :delete
      %td
        -if video.confirmed == false 
          = link_to 'Confirm', make_video_public_url(video.id)

