.row.fluid
  .span9
    %p#notice= notice
    %p
      %h3.pull-left
        = @video.title
      %h2.pull-right
        = @video.subject.name
        = ' < '
        = @video.subject.semester.name
        = ' < '
        = @video.subject.semester.level.name
    %br
    %hr
    %video{:controls => "controls", :height => "400", :width => "870"}
      %source{:src => @video.url , :type => "video/ogg"}/
    #video-actions.row
      .btn-group.pull-left
        .btn.icon-thumbs-up
          Up
        .btn.icon-thumbs-down
          Down
      %div.pull-right
        #views-count.label.label-success
          %b.icon-eye-open  
            = @video.views
            
        .btn-group.pull-left
          %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            = t('.share')
            %span.caret
          %ul.dropdown-menu
            / dropdown menu links    
    #video-info.offset1
      %p
        = t('.made_by')
        = (link_to @video.user.first_name, "profiles/" + @video.user_id.to_s)
        = t('.published')
        = @video.created_at.to_date
      
      %p
        = @video.description
      
      - if current_user && current_user.id == @video.user_id
        = link_to 'Edit', edit_video_path(@video)
    %hr
  .span3.pull-left
    Side Bar