.row.fluid
  .span9
    %p#notice= notice
    %p
      %h3.pull-left
        = @video.title
      %h2.pull-right 
        = [@video.subject.name, @video.subject.semester.name, @video.subject.semester.level.name].join(' < ')
    %br
    %hr
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "http://www.youtube.com/embed/#{@video.url}", :width => "870"}  
    #video-actions
      .btn-group
        =render :partial =>'videos/voting_actions', :locals => { :target => 'v' , :object => @video }
      #views-count.label.label-success.pull-right
        %b.icon-eye-open  
          = @video.video_views
      .btn-group.pull-right
        %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          = t('.share')
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href=>"https://www.facebook.com/sharer/sharer.php?u=#{request.url}"}
              Facebook
            %a{:href=>"https://twitter.com/intent/tweet?original_referer=#{request.url}"}
              Twitter
            %a{:href=>"https://plus.google.com/share?url=#{request.url}"}
              Google        
    #video-info
      %p
        = t('.made_by')
        = link_to @video.user.name, profiles_url(:id => @video.user_id)
        = [t('.published_at'), @video.created_at.to_date].join(' ')
      
      %p
        = @video.description
      
      - if current_user && current_user.id == @video.user_id
        = link_to 'Edit', edit_video_path(@video)
      %hr
      .span9
        #questions-area
          = render :partial => 'videos/question', :collection => @video.questions
      .span9
        .asking-area
          .pull-left
            = image_tag 'question_icon.jpg', :class => 'icon'
          .pull-left
            = form_for @question, :url => add_question_url(:id => @video.id), :remote => true do |f|
              = f.text_area :body, {:rows => 3, :class => "question-body", "placeholder" => t('.question-placeholder')}
              = f.submit t('.post'), :class => 'btn btn-large post-btn', :id => 'submit-question'
          
    %hr
  .span3.pull-left
    Side Bar