= form_for :token, :url => video_token_url, :remote => true,:html => { :id => "data_form" } do |f|
  = f.label :title
  = f.text_field :title, :required =>""
  = f.label :description
  = f.text_field :description
  = f.label :subject
  = select("video", "subject_id", Subject.all.collect {|p| [ [p.semester.level.name,p.semester.name,p.name].join(" < "), p.id ] })
  = f.label :category
  = f.text_field :category
  = f.label :keywords
  = f.text_field :keywords
  #submit-div
    #submit-button
      = f.submit "Submit" , :id => "upload_submit"
    #submit-image.pull-left.hidden
      = image_tag 'ajax-loader.gif', :class => ''  
  
= form_tag '@upload_info[:url]', :multipart => true, :id => 'uploadform' do
  = hidden_field_tag :token, '@upload_info[:token]'
  = label_tag :file
  = file_field_tag :file, :required =>""
  %br  
  %br
  %br