/ Silde Show
.hero-unit
  %h1 Hello, world!
  %p
    This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
  %p
    %a.btn.btn-primary.btn-large Learn more &raquo;
/ Newest videos image flow
.row
/ Dropdown search
#search-container.well.form-inline
  #levels-drop-down.btn-group.span5
    %a.btn.dropdown-toggle.btn-large.btn-primary.span4{"data-toggle" => "dropdown", :href => "#"}
      %span#drop-down-action Semesters
      %span.caret
    %ul.dropdown-menu
      / dropdown menu links
      - @levels.each do |level|
        %li.nav-header
          %p
            = level.name
        - level.semesters.each do |semester|
          %li
            %a{:href => "#", :semester_id => semester.id}= semester.name
        %li.divider
  #subjects-drop-down.btn-group.span5
    %a.btn.dropdown-toggle.btn-primary.btn-large.span4{"data-toggle" => "dropdown", :href => "#"}
      %span#subjectName Subjects
      %span.caret
    %ul.dropdown-menu{:id => 'subjects'}
      - @subjects.each do |subject|
        %li.hidden{:semester => subject.semester_id}
          = link_to subject.name, {:action => 'get_videos', :subject => subject.id}, :remote => true 
  #videos-list.row
    = render :partial => 'videos/video_thumb', :collection => @videos
    = render :partial => 'videos/video_thumb', :collection => @videos
    = render :partial => 'videos/video_thumb', :collection => @videos
/ Video Results
