- if @section.errors.any?
  .alert.alert-block.alert-error.fade.in
    %a.close{"data-dismiss" => "alert", :href => "#"} ×
    - @section.errors.full_messages.each do |msg|
      %li= msg
= nested_form_for @section do |f|
  = f.label :title, t('.title')
  = f.text_field :title
  = f.hidden_field :video_id

  = f.label :description, t('.description')
  = f.text_area :description, :rows => 5, :cols => 50
  
  = f.fields_for :questions do |question_form|
    %hr
    = question_form.label 'question_type'
    = question_form.select 'question_type', Question::QUESTION_TYPES,{}, {:onChange => "updateFields(this);"}
    = question_form.label 'text', t('.question_head')
    = question_form.text_area :text, :rows => 2, :cols => 50
    
    = question_form.fields_for :answers do |answer_form|
      = answer_form.text_field :text
      = answer_form.link_to_remove "×"
    %p.add-answer-link= question_form.link_to_add "Add Answer", :answers
    
    = question_form.link_to_remove "Remove this question"
    
  %p= f.link_to_add "Add a question", :questions
  = f.submit 'Submit'