!!!
%html
  %head
    %title= t("layout.project_name")
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = javascript_include_tag :src => "http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "#"} Project name
          .nav-collapse
            %ul.nav
              %li.active
                %a{:href => "#"} Home
              %li
                %a{:href => "#about"} About
              %li
                %a{:href => "#contact"} Contact
            %ul.nav.pull-right
              -if user_signed_in?
                %li
                  %a{:href => "/users/sign_up"} Sign up
                %li.divider-vertical
                %li.dropdown
                  %a.dropdown-toggle{:href => "#" , "data-toggle"=>"dropdown"}
                    %span Sign in         
                    %strong.caret
                  %div.dropdown-menu{"style"=>"padding: 15px; padding-bottom: 0px;"}
                    %form#user_new.user_new{"accept-charset" => "UTF-8", :action => "/users/sign_in", :method => "post"}
                      %div{:style => ""}
                        %input{:name => "utf8", :type => "hidden", :value => "✓"}
                        %input{:name => "authenticity_token", :type => "hidden", :value => "wMiQEzVXLKqnEyoKrjEy+hyEvFi/S2wjKbmEcw9pqOg="}/
                      %div
                        %label{:for => "user_email"} Email
                        %input#user_email{:name => "user[email]", :size => "30", :type => "email", :value => ""}
                      %div
                        %label{:for => "user_password"} Password
                        %input#user_password{:name => "user[password]", :size => "30", :type => "password"}
                      %div
                        %input{:name => "user[remember_me]", :type => "hidden", :value => "0"}
                        %input#user_remember_me{:name => "user[remember_me]", :type => "checkbox", :value => "1"}
                        %label{:for => "user_remember_me"} Remember me
                      %div
                        %input{:name => "commit", :type => "submit", :value => "Sign in"}/
                        %a{:href => "/users/auth/facebook"} Sign in with Facebook
              -else
                %li
                  %span 
                  = current_user.inspect
          / /.nav-collapse
    .container
      = yield
      %hr/
      %footer
        %p
          \&copy; Company 2012
    / /container
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    /
      <script src="../assets/js/jquery.js"></script>
      <script src="../assets/js/bootstrap-transition.js"></script>
      <script src="../assets/js/bootstrap-alert.js"></script>
      <script src="../assets/js/bootstrap-modal.js"></script>
      <script src="../assets/js/bootstrap-dropdown.js"></script>
      <script src="../assets/js/bootstrap-scrollspy.js"></script>
      <script src="../assets/js/bootstrap-tab.js"></script>
      <script src="../assets/js/bootstrap-tooltip.js"></script>
      <script src="../assets/js/bootstrap-popover.js"></script>
      <script src="../assets/js/bootstrap-button.js"></script>
      <script src="../assets/js/bootstrap-collapse.js"></script>
      <script src="../assets/js/bootstrap-carousel.js"></script>
      <script src="../assets/js/bootstrap-typeahead.js"></script>
