%h2
  Edit #{resource_name.to_s.humanize}
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  %div
    = f.label :password
    %i (leave blank if you don't want to change it)
    %br/
    = f.password_field :password, :autocomplete => "off"
  %div
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  %div
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password
  %div
    = f.label :first_name
    = f.text_field :first_name
  %div
    = f.label :last_name
    = f.text_field :last_name
  %div
    = f.label :about_me
    = f.text_area :about_me ,:rows => '5'   
  %div
    .span2
      = image_tag current_user.avatar(:medium)
    .span4    
    = f.file_field :avatar
  %div= f.submit "Update"
= link_to "Back", :back
